<!--遠藤-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>蔵書登録</title>
</head>

<body>
	<h1>蔵書登録</h1>
	<hr>
	<div>[[${error}]]</div>
	<form action="/host/add/book/done" method="post">
		<table border="1">
			<tr>
				<th>タイトル</th>
				<td>
					<input type="text" name="title" maxlength="100"><br>
				</td>
			</tr>
			<tr>
				<th>著者名</th>
				<td>
					<input type="text" name="author" maxlength="100"><br>
				</td>
			</tr>
			
		</table>
		<input type="submit" value="登録">
	</form>

</body>

</html>