<!--tao -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>管理者ログイン</title>
	<link href="/contact.css" rel="stylesheet">
</head>

<body>
	<h1>管理者ログイン</h1>
	<hr>
	
<!--	<span th:if="${error}">-->
		[[${error}]]
<!--</span>-->

	<form action="/host/login" method="post">
		<!--HostAccountControllerへ -->
		<table border="1">
			<tr>
				<th>管理者ID</th>
				<td>
					<input type="text" name="id" maxlength="16"> 
				</td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td>
					<input type="text" name="password">
				</td>
			</tr>

		</table>
		<button>ログイン</button>
		</form>
		
		<ul class="leaf">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
	</ul>
</body>

</html>