<!--tao -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>管理者ログイン</title>
</head>

<body>
	<h1>管理者ログイン</h1>
	<hr>
	
<!--	<span th:if="${error}">-->
		[[${error}]]
<!--</span>-->

	<form action="/host/login" method="post">
		<!--HostAccountControllerへ -->
		<table border="1">
			<tr>
				<th>管理者ID</th>
				<td>
					<input type="text" name="id" maxlength="16"> 
				</td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td>
					<input type="text" name="password">
				</td>
			</tr>

		</table>
		<input type="submit" value="ログイン">
	</form>
</body>

</html>