<!--おがわ-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>蔵書検索</title>
</head>

<body>
	<h1>蔵書検索</h1>
	<a href="">ホームへ</a>
	<hr>
	<!--BookController-->
	<form action="/search" method="post">

		<input type="month" name="ym" th:value="${ym}">
		<input type="submit" value="検索">
	</form>
	<br>
	
	<table border="1">
		<tr>
			<th th:colspan="${3+maxDay}">貸し出し状況</th>
		</tr>
		<tr>
			<th>本ID</th>
			<th>タイトル</th>
			<th>著者名</th>
			<th:block th:each="date:${#numbers.sequence(1,maxDay)}">
				<td>[[${date}]]</td>
			</th:block>
		</tr>
		<tr th:each="book:${books}">
			<td>[[${book.id}]]</td>
			<td>[[${book.title}]]</td>
			<td>[[${book.author}]]</td>
			<th:block th:each="date:${#numbers.sequence(1,maxDay)}">
				
				<th:block th:each="rental:${rentals}">
					
					<th:block th:if="${rental.bookId==book.id}">
						<th:block th:if="${rental.rentalDate}">
							<td>
								シークエンスと比較
							</td>
						</th>
					</th:block>
					
				</th>
			
			</th:block>
			
		</tr>
		
	


	</table>

</body>

</html>