<!--おがわ-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>蔵書検索</title>
	<link href="/contact.css" rel="stylesheet">
</head>

<body>
	<h1>蔵書検索</h1>
	<a href="">ホームへ</a>
	
	<hr>
	<!--BookController-->
	<form action="/search" method="post">

		<input type="month" name="ym" th:value="${ym}">
		<input type="submit" value="検索">
	</form>
	<br>

	<table border="1">
		<tr>
			<th th:colspan="${3+maxDay}">貸し出し状況</th>
		</tr>
		<tr>
			<th>本ID</th>
			<th>タイトル</th>
			<th>著者名</th>
			<th:block th:each="day:${#numbers.sequence(1,maxDay)}">
				<td>
					[[${day}]]
				</td>
			</th:block>
		</tr>
		<tr th:each="book:${books}">
			<td>[[${book.id}]]</td>
			<td>[[${book.title}]]</td>
			<td>[[${book.author}]]</td>
			
			<th:block th:each="day,state:${#numbers.sequence(1,maxDay)}">
				
				<th:block th:if="${rentalBook[book.id -1][day -1]} eq 1">
					<td width="30" align="center" style="background:#ff7c5c">
					</td>
				</th:block>
				<th:block th:unless="${rentalBook[book.id -1][day -1]} eq 1">
					<td width="30" align="center" style="background: white">
					</td>
				</th:block>
				
			</th:block>

		</tr>




	</table>
	[[${rentals[1][1]}]]

</body>

</html>