<!--おがわ-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>蔵書一覧</title>
	<link href="/contact.css" rel="stylesheet">
</head>

<body>
	<h1>蔵書一覧</h1>
	<a href="">ログアウト</a>
	<hr>
	<!--BookController-->
	<form action="/search" method="post">
		
		<input type="month" name="ym">
		<input type="submit" value="検索">
	</form>
	<br>

	<table border="1">
		<tr>
			<th>本ID</th>
			<th>タイトル</th>
			<th>著者名</th>
		</tr>
		<tr th:each="book:${books}">
			<td>[[${book.id}]]</td>
			<td>[[${book.title}]]</td>
			<td>[[${book.author}]]</td>
		</tr>


	</table>

</body>

</html>