<!--おがわ-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>蔵書一覧</title>
	<link href="/contact.css" rel="stylesheet">
</head>

<body>
	<h1>蔵書一覧</h1>
	<th:block th:if="${@hostAccount.id}">
		<a href="/host/select" class="btn-stick">ホームへ</a>
	</th:block>
	<th:block th:if="${@userAccount.id}">
		<a href="/user/index" class="btn-stick">ログアウト</a>
	</th:block>
	<hr>
	<!--BookController-->
	<form action="/search" method="post">
		
		<input type="month" name="ym">
		<button class="btn-stick">検索</button>
	</form>
	<br>
	
	<ul class="leaf">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>

	<table border="1" class="c-commonTable2">
		<tr>
			<th>本ID</th>
			<th>タイトル</th>
			<th>著者名</th>
		</tr>
		<tr th:each="book:${books}">
			<td>[[${book.id}]]</td>
			<td>[[${book.title}]]</td>
			<td>[[${book.author}]]</td>
		</tr>


	</table>
	
	

</body>

</html>